@model ItemIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model.Items?.Any() == true)
    {
        @foreach (var item in Model.Items)
        {
            <p>
                <form asp-controller="Item" asp-action="ToggleComplete"
                      method="post" role="form">
                    @if (item.IsCompleted)
                    {
                        <span style="text-decoration: line-through;">@item.Description</span>
                    }
                    else
                    {
                        @item.Description
                    }
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit">@(item.IsCompleted ? "Undo" : "Mark completed")</button>

                    <a asp-action="Detail" asp-route-id="@item.Id"><button type="button">Details</button></a>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button">Edit</button></a>
                    <a asp-action="Archive" asp-route-id="@item.Id"><button type="button">Archive</button></a>
                </form>
            </p>
        }
    }
    <a asp-action="New"><button type="button">New</button></a>
</div>
