@using System.Globalization
@model ItemIndexViewModel
@{
    ViewData["Title"] = "";
}

@if (Model.Items?.Any() == true)
{
    <h1>Todo List</h1>
    <div class="todo-list">
        @foreach (var item in Model.Items)
        {
            <div class="todo-text" title="Created on @item.CreateDate.ToString("g", CultureInfo.CurrentCulture)">
                @if (item.IsCompleted)
                {
                    <span style="text-decoration: line-through;">@item.Description</span>
                }
                else
                {
                    @item.Description
                }
            </div>
            <div>
                <form asp-controller="Item" asp-action="ToggleComplete"
                      method="post" role="form">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn @(item.IsCompleted ? "bg-orange" : "bg-green")" title="@(item.IsCompleted ? "undo completed" : "mark completed")">
                        @if (item.IsCompleted)
                        {
                            <i class="fas fa-times"></i>
                        }
                        else
                        {
                            <i class="fas fa-check"></i>
                        }
                    </button>
                </form>
            </div>
            <div>
                <a asp-action="Detail" asp-route-id="@item.Id" title="Detail"><button type="button" class="btn bg-blue"><i class="fas fa-sticky-note"></i></button></a>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit"><button type="button" class="btn bg-blue"><i class="fas fa-pen"></i></button></a>
            </div>
            <div>
                <a asp-action="Archive" asp-route-id="@item.Id" title="Archive"><button type="button" class="btn bg-red"><i class="fas fa-trash"></i></button></a>
            </div>
        }
    </div>
}
<div class="mg-t-12">
    <a asp-action="New"><button type="button" class="btn btn-resize bg-green"><i class="fas fa-plus"></i> Add Item</button></a>
</div>

